@tailwind base;
@tailwind components;
@tailwind utilities;

.routerlink {
  padding: 6px;
  font-weight: 500;
  color: #f3f4f6;
  background-color: #353531;
  border: solid 5px #353531;
  border-radius: 14px;
  transition: .3s all ease-in-out;
}

.routerlink:hover {
  color: #353531;
  cursor: pointer;
  background-color: transparent;
  border: solid 5px #353531;
  transition: .3s all ease-in-out;
}

.selected {
  color: white;
  cursor: pointer;
  background-color: #10b981;
  border: solid 5px #10b981;
  transition: .3s all ease-in-out;
}

.link {
  border-radius: 14px;
  transition: .2s all ease-in-out;
}

.link:hover {
  color: gray;
  border-radius: 14px;
  transition: .2s all ease-in-out;
  transform: translateY(-2px);
}

.bg-color {
  background-color: #ff0000;
}

.non-grid-item {
  position: absolute;
  top: 0;
  left: 0;
}
